.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}

.Button {
  background: #e5ece0;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 25%;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
  height: 20%;
  min-width: 25%;
  border-radius: 15px;
}

.Button[data-size="2"] {
  height: 40%;
}

.Button[data-value="null"] {
  pointer-events: none;
}

.Button:hover {
  background: #d7ddd3;
  cursor: default;
}

.Display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #1f1e2c;
  height: 20%;
  color: #e6e1e1;
  font-size: 24px;
  border-radius: 15px;
  margin: 10px 0;
}

.Keypad {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 80%;
}

.Calculator {
  width: 400px;
  height: 300px;
  position: relative;
  margin: 25px;
}
